 <mat-drawer #drawer style="width: 300px; height: 100%;" mode="side" [position]="'end'">

    <form [formGroup]="studentForm" style="display: flex; flex-direction: column; padding: 20px;">

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text">
      </mat-form-field>

      <div *ngIf="studentForm.get('name').invalid &&
              (studentForm.get('name').touched ||
              studentForm.get('name').dirty)"
           class="alert alert-danger">
        <div *ngIf="studentForm.get('name').errors.required">
          Name is required
        </div>
        <div *ngIf="studentForm.get('name').errors.minlength">
          Name must have 3 characteres min
        </div>
      </div>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput formControlName="age" type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Grade</mat-label>
        <input matInput formControlName="grade" type="text">
      </mat-form-field>

 <div *ngIf="studentForm.get('grade').invalid &&
              (studentForm.get('grade').touched ||
              studentForm.get('grade').dirty)"
           class="alert alert-danger">
        <div *ngIf="studentForm.get('grade').errors.required">
          Grade is required
        </div>
      </div>
        <mat-form-field>
        <mat-label>Url Image</mat-label>
        <input matInput formControlName="urlImage" type="text">
      </mat-form-field>

  
    </form>
<button *ngIf="!edit" mat-stroked-button style="margin-left: 100px" (click)="onEnviar()">SAVE</button>
<button *ngIf="edit" mat-stroked-button  style="margin-left: 100px" (click)="onUpdateProduct()">SAVE</button>
  </mat-drawer>
